{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='main.css')}}">
{% endblock %}

{% block app_content %}
    <h1>{{ entry_base["initiative_type"] }} in {{ entry_base["country"] }}</h1>
    <h2><b>{{ entry_base["title"] }}</b></h2>
    <h2><b>{{ entry_base["native_title"] }}</b></h2>
    <p><i>Date of introduction: {{ entry_base["date_first_introduction"] }}</i></p>
    <div class="line_box" style="margin: 40px 0 40px 0;">
        {% if closed is true %}
            <div class="text_circle done">
                <div class="circle">
                    <h4>Consultation Opened</h4>
                    <p>{{ entry_base["date_first_introduction"] }}</p>
                </div>
                <a href="javascript:void(0)" class="tvar"><span data-toggle="popover" title="Sample text" data-trigger="hover" data-placement="top" data-content="Ukázkový text při hover"></span></a>
            </div>
            {% for steps in entry_history %}
                {% if steps["step"] == 'Closed' %}
                    <div class="text_circle done">
                        <div class="circle">
                            <h4>Consultation Closed</h4>
                            <p>{{ steps["date"] }}</p>
                        </div>
                        <a href="javascript:void(0)" class="tvar"><span data-toggle="popover" title="Sample text" data-trigger="hover" data-placement="top" data-content="Ukázkový text při hover"></span></a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if closed is false %}
            <div class="text_circle done">
                <div class="circle">
                    <h4>Consultation Opened</h4>
                    <p>{{ entry_base["date_first_introduction"] }}</p>
                </div>
                <a href="javascript:void(0)" class="tvar"><span data-toggle="popover" title="Sample text" data-trigger="hover" data-placement="top" data-content="Ukázkový text při hover"></span></a>
            </div>
            <div class="text_circle">
                <div class="circle">
                    <h4>Consultation Closed</h4>
                </div>
                <a href="javascript:void(0)" class="tvar"></a>
            </div>
        {% endif %}
    </div>
    <h3>Content:</h3>
    <p>{{ entry_base["description"] }}</p>

{% endblock %}

{% block scripts %}
    {{ super() }}
        <script>
            $(function () {
              $('[data-toggle="popover"]').popover();
            });
        </script>
{% endblock %}