{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='main.css')}}">
{% endblock %}

{% block app_content %}
    <h1 class="headersimon">Welcome  Client X</h1>

   <ul class="blokken">
       <h2>Latest Policy Developments</h2>
    {% for x in legs %}
        <li><a href="{{ url_for('main.legs', id=x.internal_id) }}">{{ x.title }}</a></li>
    {% endfor %}
    </ul>


    <ul class="blokken">
        <h2>Latest Policy Addition</h2>
    {% for x in regs %}
        <li><a href="{{ url_for('main.regs', id=x.internal_id) }}">{{ x.title }}</a></li>
    {% endfor %}
    </ul>


    <ul class="blokken">
        <h2> All Legislation</h2>
    {% for x in legs %}
        <li><a href="{{ url_for('main.legs', id=x.internal_id) }}">{{ x.title }}</a></li>
    {% endfor %}
    </ul>

    <ul class="blokken">
        <h2> All Regulation</h2>
    {% for x in regs %}
        <li><a href="{{ url_for('main.regs', id=x.internal_id) }}">{{ x.title }}</a></li>
    {% endfor %}
    </ul>

    <ul class="blokken">
        <h2> All Consultations</h2>
    {% for x in consultation %}
        <li><a href="{{ url_for('main.consultation', id=x.internal_id) }}">{{ x.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}