{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='main.css')}}">
{% endblock %}

{% block app_content %}
    <h2><b>{{ legislation_base["title"] }}</b></h2>
    <h2><b>{{ legislation_base["native_title"] }}</b></h2>
    <p><i>Date of introduction: {{ legislation_base["date_first_introduction"] }}</i></p>
    <div class="line_box" style="margin: 40px 0 40px 0;">
        {% for steps in legislation_history %}
            <div class="text_circle done">
                <div class="circle">
                    <h4>{{ steps["step"] }}</h4>
                    <p>{{ steps["date"] }}</p>
                </div>
                <a href="javascript:void(0)" class="tvar"><span data-toggle="popover" title="Sample text" data-trigger="hover" data-placement="top" data-content="Ukázkový text při hover"></span></a>
            </div>
        {% endfor %}
        {% for steps in range(5-legislation_history|length) %}
            <div class="text_circle">
                <div class="circle">
                    <h4>Remaining Step</h4>
                    <p>Unknown</p>
                </div>
                <a href="javascript:void(0)" class="tvar"></a>
            </div>
        {% endfor %}
    </div>
    <h3>Content:</h3>
    <p>{{ legislation_base["description"] }}</p>
    <h3>Likelihood: {{ legislation_base["likelihood"] }}</h3>
    {% for development in legislation_history %}
        <i>{{ development["date"] }}</i>
        <p class="feed">{{ development["development"] }}</p>
    {% endfor %}
    <h3>Impact: {{ legislation_base["impact_score"] }}</h3>
    <p>{{ legislation_base["impact"] }}</p>
    <p><a href="{{ legislation_base["relevant_links"] }}">Source Link</a></p>

{% endblock %}

{% block scripts %}
    {{ super() }}
        <script>
            $(function () {
              $('[data-toggle="popover"]').popover();
            });
        </script>
{% endblock %}